#!/bin/bash

# TODO make script to ask credentials and store in ~/.credentials

# Your username and password belongs here
# you are going to want to use the install script and a gpg key is required
user=
password=
# where do you want to save your data on this system?
client_root=$HOME
# where is your nextcloud instance?
server_uri=

